input {
    height: 2em;
    padding: 0px 10px;
    color: green;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgb(40, 93, 190);
}

div {
    display: flex;
}

button {
    padding: 0px 10px;
    margin-left: 0px;
    color: green;
}

button:hover {
    color: red;
}

input:hover {
    color: red;
}