* {
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    background-color: #bd6e08;
    color: white;
    width: 30%;
    border: 1px solid #000000;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
    margin: 50px auto 0px;
}

form, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #000000;
    background: white;
    border-radius: 0px 0px 10px 10px;
}
.input-group {
    margin: 10px 0px 10px 0px;
}

.input-group label {
    display: block;
    text-align: left;
    margin: 3px;
}

.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}

.btn {
    width: 30%;
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #bd6e08;
    border: none;
    border-radius: 5px;
}

.reminder {
    display: none;
}
.reg {
    display: none;
}